*{
box-sizing: border-box; 
}

body{
background-color: lightgrey;
font-family: 'Inter', sans-serif;
color: darkblue;
display: block;
}

.container{
width: 100%;
max-width: 90rem;
min-height: 100vh;
padding: 2.5rem;
display: flex;
flex-flow: row nowrap;
justify-content: space-between;
}

.caja-header{
max-width: 7.5rem;
width: 100%;
}

img{
border-radius: 1rem; 
}

.caja-introduzca-texto{
max-width: 42.5rem ;
width: 100%;
padding: 2rem 0 2rem 0;
display: flex;
flex-direction: column;
background-color: lightgray;
}

.textarea{
height: 100%;
margin: 6rem 0 0 0;
background: lightgrey;
color: #0A3871;
border: none;
outline: none;
resize: none;
font-family: 'Inter', sans-serif;
font-size: 2em;
line-height: 3rem;
line-height: 150%;
}

::placeholder{
font-family: 'Inter', sans-serif;
color: #0A3871;
font-weight: 400;
line-height: 3rem;
}

.caja-alerta{
max-height: 1.125rem;
margin:1rem 0 1rem 0;
display: flex;
align-items: center;
flex-flow: row nowrap;
}

.exclamation-icon{
width: 1rem;
margin: 1px 0.5rem 1px 0;
}

.mensaje-alerta{
color: #888;
font-size: 0.75rem;
font-family:'Inter', sans-serif;
}

.botonera{
width: 100%;
justify-content: space-between;
gap: 1.5rem;
display: flex;
flex-flow: row nowrap;
}

.boton1{
width: 100%;
padding: 1.5rem;
background-color: crimson;
color:azure;
border-radius: 1.5rem;
font-size: 1em;
cursor: pointer;
font-family: 'Inter', sans-serif;
outline: none;
border: none;
}

.boton2{
width: 100%;
padding: 1.5rem;
background-color: midnightblue;
color:azure;
border-radius: 1.5rem;
font-size: 1em;
cursor: pointer;
font-family: 'Inter', sans-serif;
outline: none;
border: none;
}

.caja-lateral{
max-width: 25rem;
width: 100%;
padding: 2rem;
margin: 0 0 0 2.5rem;
background-color: white;
border-radius: 2.25rem;
display: flex;
flex-direction: column;
justify-content: center;
flex-wrap: nowrap
}

.subcaja-lateral-con-imagen-y-texto{ 
display: flex;
flex-direction: column;
}

.texto-subcaja{
display: flex;
flex-direction: column;
text-align: center;
}

.ningun-mensaje{
margin-top: 1rem;
font-size: 1.5em;
font-weight: bold;
line-height: 29px;
line-height: 120%;
}

.opcion-mensaje{
font-size: 1em;
}

#c{
display: none;
}

.caja-con-mensaje{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.texto-salida{
width: 100%;
height: 76%;
font-family: 'Inter', sans-serif;
color: darkgoldenrod;
border: none;
outline: none;
background-color: white;
margin: 0 0 1rem 0;
word-wrap: break-word;
line-height: 2.25em;
font-size: 1.5em;
resize: none;
margin: 0 0 1rem 0;
}

.boton-copiar{
border-radius: 1.5rem ;
padding: 1.5rem;
width: 100%;
background-color: whitesmoke;
color: darkblue;
border: darkblue;
outline: darkblue;
vertical-align: bottom;
cursor: pointer;
font-family: 'Inter', sans-serif;
}


@media screen and (max-width: 960px) {
    .container {
        flex-direction: column;
    }

    .caja-introduzca-texto{
        max-width: 100%;
    }

    .imagen-lateral{
        display: none;
    }

    .textarea, .texto-salida {
        min-height: 36.38rem;
    }
       
    .caja-lateral, .subcaja-lateral-con-imagen-y-texto {
       max-width: 100%;
       margin: 0rem;
    }
}

@media screen and (max-width: 480px) {
    
    .textarea, .texto-salida {
        min-height: 15.7rem;
    }

    .botonera{
        display: flex;
        flex-direction: column;
    }

}







